.testclass{
    display: flex;
    flex-wrap: wrap;
}

.nestParent{
    position:relative;
    width:100%;

    .nestChild{
        position: absolute;
        top:0;
        left: 0;
    }
}